/*
Syntax error: Invalid CSS after "(": expected variable (e.g. $foo), was "!x=1px, !y=1px,..."
        on line 1 of /Users/joel/Sites/the47th/public/stylesheets/sass/admin/../modules/_shadow.sass
        from line 1 of /Users/joel/Sites/the47th/public/stylesheets/sass/admin/dropdown.sass

1: =box-shadow(!x=1px, !y=1px, !blur=4px, !color=#666)
2:   box-shadow= !x !y !blur !color
3:   -webkit-box-shadow= !x !y !blur !color
4:   -moz-box-shadow= !x !y !blur !color
5: 
6: =no-box-shadow

Backtrace:
/Users/joel/Sites/the47th/public/stylesheets/sass/admin/../modules/_shadow.sass:1
/Users/joel/Sites/the47th/public/stylesheets/sass/admin/dropdown.sass:1
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/scss/parser.rb:898:in `expected'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/script/lexer.rb:193:in `expected!'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/script/parser.rb:448:in `assert_tok'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/script/parser.rb:317:in `defn_arglist!'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/script/parser.rb:314:in `loop'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/script/parser.rb:314:in `defn_arglist!'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/script/parser.rb:102:in `parse_mixin_definition_arglist'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:776:in `parse_mixin_definition'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:546:in `parse_line'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:447:in `build_tree'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:466:in `append_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:465:in `each'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:465:in `append_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:322:in `_to_tree'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:249:in `to_tree'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/util.rb:298:in `silence_sass_warnings'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:249:in `to_tree'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:291:in `_render'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:239:in `render'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/util.rb:298:in `silence_sass_warnings'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/lib/sass/../sass/engine.rb:239:in `render'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin/compiler.rb:175:in `each'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin/compiler.rb:173:in `each'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin.rb:54:in `check_for_updates'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.2/rails/../lib/sass/plugin/rack.rb:51:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:132:in `forward'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:243:in `fetch'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:181:in `lookup'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:65:in `call!'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:50:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/string_coercion.rb:25:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/head.rb:9:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/methodoverride.rb:24:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/params_parser.rb:15:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/session/cookie_store.rb:99:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/failsafe.rb:26:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/lock.rb:11:in `synchronize'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/dispatcher.rb:114:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/reloader.rb:34:in `run'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/dispatcher.rb:108:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rails-2.3.14/lib/rails/rack/static.rb:31:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/urlmap.rb:47:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/urlmap.rb:41:in `each'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/urlmap.rb:41:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rails-2.3.14/lib/rails/rack/debugger.rb:19:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rails-2.3.14/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/content_length.rb:13:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/handler/webrick.rb:48:in `service'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/handler/webrick.rb:14:in `run'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rails-2.3.14/lib/commands/server.rb:111
script/server:3:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"(\": expected variable (e.g. $foo), was \"!x=1px, !y=1px,...\"\A         on line 1 of /Users/joel/Sites/the47th/public/stylesheets/sass/admin/../modules/_shadow.sass\A         from line 1 of /Users/joel/Sites/the47th/public/stylesheets/sass/admin/dropdown.sass\A \A 1: =box-shadow(!x=1px, !y=1px, !blur=4px, !color=#666)\A 2:   box-shadow= !x !y !blur !color\A 3:   -webkit-box-shadow= !x !y !blur !color\A 4:   -moz-box-shadow= !x !y !blur !color\A 5: \A 6: =no-box-shadow"; }
