[submodule "vendor/extensions/file_system_resources"]
	path = vendor/extensions/file_system_resources
	url = git://github.com/johnmuhl/radiant-file-system-resources-extension.git
[submodule "vendor/extensions/page_parts"]
	path = vendor/extensions/page_parts
	url = git://github.com/jayroh/radiant-page_parts-extension.git
[submodule "vendor/extensions/tags"]
	path = vendor/extensions/tags
	url = git://github.com/jomz/radiant-tags-extension.git
[submodule "vendor/extensions/vapor"]
	path = vendor/extensions/vapor
	url = git://github.com/saturnflyer/radiant-vapor-extension.git
