/*
Syntax error: Undefined mixin 'susy'.
        on line 42 of /Users/joel/Sites/the47th/public/stylesheets/scss/screen.scss, in `susy'
        from line 42 of /Users/joel/Sites/the47th/public/stylesheets/scss/screen.scss

37: $gutter-width: 		2em;
38: $side-gutter-width: 	$gutter-width / 2;
39: 
40: // Don't move this @import above the GRID and FONT-SIZE variables.
41: @import "susy/susy";
42: @include susy;
43: 
44: @import "partials/boilerplate";
45: @import "partials/base";
46: @import "partials/font-face";
47: @import "partials/layout";

Backtrace:
/Users/joel/Sites/the47th/public/stylesheets/scss/screen.scss:42:in `susy'
/Users/joel/Sites/the47th/public/stylesheets/scss/screen.scss:42
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:169:in `visit_mixin'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/engine.rb:293:in `_render'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/engine.rb:241:in `render'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/util.rb:297:in `silence_sass_warnings'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/engine.rb:241:in `render'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin/compiler.rb:175:in `each'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin/compiler.rb:173:in `each'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/sass-3.1.7/rails/../lib/sass/../sass/plugin/rack.rb:51:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:132:in `forward'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:203:in `validate'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:177:in `lookup'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:65:in `call!'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-cache-1.0.3/lib/rack/cache/context.rb:50:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/string_coercion.rb:25:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/head.rb:9:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/methodoverride.rb:24:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/params_parser.rb:15:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/session/cookie_store.rb:99:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/failsafe.rb:26:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/lock.rb:11:in `synchronize'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/dispatcher.rb:114:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/reloader.rb:34:in `run'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/actionpack-2.3.14/lib/action_controller/dispatcher.rb:108:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rails-2.3.14/lib/rails/rack/static.rb:31:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/urlmap.rb:47:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/urlmap.rb:41:in `each'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/urlmap.rb:41:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rails-2.3.14/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/content_length.rb:13:in `call'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/handler/webrick.rb:48:in `service'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:95:in `start'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `each'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:92:in `start'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:23:in `start'
/Users/joel/Developer/.rvm/rubies/ree-1.8.7-2010.02/lib/ruby/1.8/webrick/server.rb:82:in `start'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rack-1.1.2/lib/rack/handler/webrick.rb:14:in `run'
/Users/joel/Developer/.rvm/gems/ree-1.8.7-2010.02@the47th2/gems/rails-2.3.14/lib/commands/server.rb:111
script/server:3:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'susy'.\A         on line 42 of /Users/joel/Sites/the47th/public/stylesheets/scss/screen.scss, in `susy'\A         from line 42 of /Users/joel/Sites/the47th/public/stylesheets/scss/screen.scss\A \A 37: $gutter-width: 		2em;\A 38: $side-gutter-width: 	$gutter-width / 2;\A 39: \A 40: // Don't move this @import above the GRID and FONT-SIZE variables.\A 41: @import \"susy/susy\";\A 42: @include susy;\A 43: \A 44: @import \"partials/boilerplate\";\A 45: @import \"partials/base\";\A 46: @import \"partials/font-face\";\A 47: @import \"partials/layout\";"; }
