#blog {
  article {
    @include columns(9);
    @include alpha;
    @include prefix(3);
    border-top: solid 1px #efeaea;
    padding-top: 20px; 
    padding-bottom: 90px;
    position: relative;

    .content {
      font-size: 1.6em;
      color: #474747;
      line-height: 1.5em;

      p {
        margin-bottom: 1em;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      ul, ol {
        margin: 0px 0 1em 2.5em;
        padding: 0px;
      }

      blockquote {
        border-left: solid 1px gray;
        margin-bottom: 1em;
        padding: 1em;
      }
    }

    header h1 {
      color: #5e5d5d;
      font-family: $quicksandbook-stack;
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 20px;
      line-height: 30px;
    }

    footer {
      @include columns(3, 12);
      position: absolute;
      top: 20px;
      left: 0px;

      cite {
       color: #5e5d5d;
       display: block;
       font-family: $quicksandbold-stack; 
       font-weight: normal;
       font-size: 16px;
       font-style: normal;
      }
      time {
        color: #5e5d5d;
        font-family: $vollkornitalic-stack;
        font-style: normal;
        font-size: 13px;
        line-height: 20px;
      }
      ul {
        list-style: none;
        overflow: hidden;
        margin-top: 17px;
      }
      li {
        display: block;
        float: left;
        width: 70px;
      }
      ul a {
        background: #fff url(/images/the47th/blog/tag_sprite.png) top left no-repeat;
        border-right: solid 1px #e8dac6;
        color: #432d27;
        display: inline-block;
        font-family: $quicksandbold-stack; 
        font-size: 10px;
        height: 15px;
        margin-bottom: 10px;
        padding-top: 49px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 69px;

        &:hover { border-bottom: none; }
        &.dev { background-position: left -128px; }
        &.books { background-position: left top; }
        &.tweet { background-position: left -192px; }
        &.design { background-position: left -64px; }
      }
    }
  }

  .pagination {
    clear: both;
  }

  #main { position: relative; }
  #main > aside {
    @include columns(3);
    @include omega;
    position: absolute;
    top: 0px;
    right: 0px;

    h2 {    
      background: url("/images/the47th/bg_squiggle.gif") no-repeat scroll 53px top white;
      color: #4c3836;
      font-family: $quicksandbold-stack; 
      font-size: 12px;
      font-weight: normal;
      margin-bottom: 15px;
      padding-top: 3px;
      text-transform: uppercase;
    }
    input[type="search"] {
      @include border-radius(13px);
      @include box-shadow(gray 1px 1px 1px 1px inset);
      background: white url(/images/the47th/blog/icon_search.gif) 137px 4px no-repeat;
      border: none;
      display: block;
      height: 22px;
      line-height: 22px;
      margin-bottom: 40px;
      padding: 0 25px 0 10px;
      width: 125px;

      .msie & {
        border: solid 1px gray;
        background: #ffffff !important;
      }
    }

    ul {
      list-style: none;
      font-family: $vollkornbolditalic-stack;
      font-size: 1.4em;
      
      li {
        line-height: 20px;
        margin-bottom: 17px;

        &.twitter,
        &.rss { 
          background: transparent url(../images/the47th/blog/aside_sprite.png) left 4px no-repeat; 
          padding-left: 60px;
        }
        &.rss {
          line-height: 42px;
          background-position: 0 -80px;
        }
      }

      &.follow_us li {
        background-position: 0 -165px;
      }

      &.follow_us, &.follow_the47th {
        border-top: double 4px #efeaea;
        padding-top: 17px;
      }

      a {
        font-family: $vollkornitalic-stack;
        display: block;
        clear: both;
        text-decoration: none;

        &:hover {
          border-bottom: none;
        }
      }
    }
  }
}

.pagination {
  @include columns(12);
  @include alpha;
  border-top: double 4px #efeaea;
  padding-top: 20px;

  span, a {
    display: inline-block;
    min-height: 34px;
    &:hover {
      border: none;
      text-decoration: none;
    }
  }
  a {
    text-decoration: none;
    color: #747474;
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    width: 34px;
  }
  .current {
    @include border-radius(17px);
    background: none repeat scroll 0 0 #CA0000;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 34px;
  }

  .prev_page,
  .next_page {
    text-align: left;
    background: transparent url(../images/the47th/blog/nav_sprite.png) top left no-repeat;
    width: 36px;
    overflow: hidden;
    height: 0px;
    min-height: 0px;
    padding-top: 36px;
  }
  .prev_page {
    @include columns(3, 12);
    &.disabled {
      opacity: .3;
    }
  }
  .next_page {
    background-position: left bottom;
    float: right;
  }
}
