body { 
  background:   $background-color url(/images/the47th/bg.jpg) top left repeat;
  font-family:  $base-font-family;
  font-weight:  normal;
  text-align:   $base-alignment; 
}
#container { 
  background: #fff;
  @include container;
  // @include susy-grid-background;
  text-align: left;
  border-left: solid 20px #ffffff;
  border-right: solid 20px #ffffff;
}

#main {
  position: relative;
}
