body#projects {

// @include replace-text-with-dimensions("the47th/projects/all_projects.png", "top", "left");
// font-family: $quicksandbook-stack;
// font-family: $vollkornitalic-stack;
// font-family: $quicksandbold-stack;
// @include columns(12);
// @include omega;
// @include columns(3,12);
// @include suffix(1,12);
// font-family: $vollkornbold-stack;
  .project_list {
    border-top: solid 1px #efeaea;
    padding-top: 57px;
    header {
      clear: both;
      overflow: hidden;
      padding-bottom: 35px;
    }
    hgroup h1 {
      @include columns(8);
      @include alpha;
      font-family: $quicksandbook-stack;
      font-size: 30px;
      font-weight: normal;
      text-transform: uppercase;
      line-height: 1em;
    }
    hgroup h2 {
      @include columns(8);
      @include omega;
      font-weight: normal;
      font-size: 14px;
      font-style: italic;
      color: #796d59;
    }

    .project {
      @include columns(4);
      border: none;
      text-decoration: none;
        
      &:hover figure, 
      &.hover figure {
        border: none; 
        background: #d4bf97;
      }
      &:nth-of-type(4n+1) { @include alpha; }
      &:nth-of-type(4n+4) { @include omega; }
      &.first             { @include alpha; }
      &.last              { @include omega; }

      figure { 
        padding: 5px; 
      }
      img { display: block; width: 100%; height: auto; }
      figcaption { background: green; }
      h3 { background: orange; }
      p { background: yellow; }
    }
  }
}
